
assignment6/inflect/data.zip

assignment6/inflect/data/dtest.form

assignment6/inflect/data/dtest.lemma

assignment6/inflect/data/dtest.tag

assignment6/inflect/data/dtest.tree

assignment6/inflect/data/etest.lemma

assignment6/inflect/data/etest.tag

assignment6/inflect/data/etest.tree

assignment6/inflect/data/train.form

assignment6/inflect/data/train.lemma

assignment6/inflect/data/train.tag

assignment6/inflect/data/train.tree
